# Author:  abon duttaroy<abon@sbcreationgroup.com>
# Created: 7 May, 2018

# HTID:5253498: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:5253498:

RewriteEngine on
RewriteBase /

RewriteRule    ^page/([0-9a-z]+)/?$    index.php?page=$1    [NC,L]

RewriteRule    ^post/([0-9]+)/?$    index.php?page=post&id=$1    [NC,L]


